<h1>Chat#index</h1>

<%= label_tag :username, "username:" %>
<span id="usernameSpan">
  <%= session[:check_in]["username"] %>
</span>

<%= label_tag :dialect, "dialect:" %>
<span id="dialectSpan">
  <%= dialect_display_name(session[:check_in]["dialect"]) %>
</span>

<br>
<textarea id="newMessageTextArea"></textarea>

<br>
<button id="triggerBtn">Send</button>

<div id="messageList">
</div>

<ul id="onlineUsersList">
</ul>
