<input type="hidden" id="dialect" value="<%= session[:check_in]["dialect"] %>"/>
<input type="hidden" id="username" value="<%= session[:check_in]["username"] %>"/>

<div class="half-div">
  <div class="info-div">
    <h3>
      <span id="usernameSpan">
        Hi <%= session[:check_in]["username"] %>,
      </span>

      <span id="dialectSpan">
        dialect: <%= dialect_display_name(session[:check_in]["dialect"]) %>
      </span>
    </h3>
  </div>

  <div id="messageList" class="old-messages-div">
  </div>

  <div class="new-message-div">
    <br>
    <textarea class="form-control" rows="3" id="newMessageTextArea"></textarea>

    <br>
    <button id="sendBtn" class="btn btn-default">Send</button>
  </div>
</div>

<div class="half-div">
  <h2>Online users</h2>
  <div id="onlineUsersList" class="online-users-list">
  </div>
</div>
