<div class="new-checkin-div">
  <h1>New check-in</h1>

  <%= form_tag check_in_create_path do %>
    <label for="username">Username: </label>
    <input id="username" type="text" name="username" class="form-control"></input>

    <br>
    <label for="dialect">Dialect:</label>
    <br>
    <%= select_tag "dialect", options_for_select(dialect_select_options) %>

    <br>
    <%= submit_tag "Check In", :class => "btn btn-default checkin-button" %>
  <% end %>
</div>
