<h1>Chat#index</h1>

<%= label_tag :username, "username:" %>
<span> <%= session[:check_in]["username"] %> </span>

<%= label_tag :dialect, "dialect:" %>
<span> <%= dialect_display_name(session[:check_in]["dialect"]) %> </span>
